.portifolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-top: -10rem;
  }
  
  .portifolio span:nth-of-type(1) {
    color: darkblue;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .portifolio span:nth-of-type(2) {
    color: darkorange;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .portifolio .swiper {
    overflow: visible !important;
  }
  
  .portifolio-slider {
    margin-top: 3rem;
    width: 100%;
  }
  
  .portifolio-slider .swiper-slide {
    width: 20rem;
    padding: 0.3rem;
  }
  
  .portifolio img {
    width: 19rem;
    height: 12rem;
    border-radius: 19px;
  }
  
  @media screen and (max-width: 500px) {
    .portifolio {
      padding: 0;
      margin-top: -13rem;
      margin-bottom: -5rem;
    }
  
    .portifolio img {
      width: 100%;
      height: 5rem;
    }
  }
  