 .services{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 7rem;

 }
 .awesome{
    display: flex;
    flex-direction: column;
    position: relative;

 }
 .awesome>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;

 }
 .awesome>:nth-child(2){
    color: darkorange;
    font-size: 2.4rem;
    font-weight: bold;

 }
 .awesome>:nth-child(3){
    color: darkblue;
    font-size: 15px;
    margin: 1rem;
 }
.s-button{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}
.cards{
   position: relative;
}
.cards>*{
   position: absolute;
}
.s-blur2{
   left: 13rem;
   top: 8rem;
}
.s-blur1{
   top:13rem;
   left: -18rem;
}
@media screen and (max-width:480px) {
    .services{
      margin-top: -10rem;
      flex-direction: column;
      gap: 5rem;
      height: 66rem;
      padding: 0;

    }
    .s-blur1{
      display: none;
    }
    .cards{
      display: flex;
flex-direction: column;
gap: 3rem;
    }
    .cards>*{
position: static;
    }
}